{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form method="post">
        <div class="columns">
            <div class="column is-three-quarters">
                {% if error %}
                    <div class="notification is-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <h2 class="title is-3">Please sign in</h2>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Email</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded">
                                <input type="email" value="{{ last_username }}" class="input" name="email"
                                       id="inputEmail"
                                       placeholder="Email" required autofocus>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Password</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded">
                                <input type="password" name="password" id="inputPassword" class="input"
                                       placeholder="password" required>
                            </p>
                        </div>
                    </div>
                </div>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
                #}
                <div class="field is-horizontal">
                    <p class="control">
                        <button class="button is-success" type="submit">Login</button>
                    </p>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
