<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>

<nav class="navbar is-dark">
    <div class="navbar-brand"><a href="/" class="navbar-item router-link-active">Starter</a>
        <div data-target="navbarExampleTransparentExample" class="navbar-burger burger"><span></span> <span></span>
            <span></span></div>
    </div>
    <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-start">
            <a href="https://bulma.io/" class="navbar-item">
                Home
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a href="/documentation/overview/start/"
                   class="navbar-link">
                    Docs
                </a>
                <div class="navbar-dropdown is-boxed">
                    <a href="/documentation/overview/start/" class="navbar-item">
                        Overview
                    </a> <a href="https://bulma.io/documentation/modifiers/syntax/" class="navbar-item">
                        Modifiers
                    </a> <a href="https://bulma.io/documentation/columns/basics/" class="navbar-item">
                        Columns
                    </a> <a href="https://bulma.io/documentation/layout/container/" class="navbar-item">
                        Layout
                    </a> <a href="https://bulma.io/documentation/form/general/" class="navbar-item">
                        Form
                    </a>
                    <hr class="navbar-divider">
                    <a href="https://bulma.io/documentation/elements/box/" class="navbar-item">
                        Elements
                    </a> <a href="https://bulma.io/documentation/components/breadcrumb/" class="navbar-item is-active">
                        Components
                    </a>
                </div>
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="field is-grouped"><p class="control"><a data-social-network="Twitter"
                                                                    data-social-action="tweet"
                                                                    data-social-target="http://localhost:4000"
                                                                    target="_blank"
                                                                    href="https://twitter.com/intent/tweet?text=Bulma: a modern CSS framework based on Flexbox&amp;hashtags=bulmaio&amp;url=http://localhost:4000&amp;via=jgthms"
                                                                    class="bd-tw-button button is-light"><span
                                    class="icon"><i class="fab fa-twitter"></i></span> <span>
                    Tweet
                  </span></a></p>
                    <p class="control"><a href="https://github.com/jgthms/bulma/releases/download/0.7.1/bulma-0.7.1.zip"
                                          class="button is-light"><span class="icon"><i
                                        class="fas fa-download"></i></span> <span>Download</span></a></p></div>
            </div>
        </div>
    </div>
</nav>

{# <nav class="navbar navbar-expand-lg navbar-light bg-light"> #}
{# <div class="container-fluid"> #}
{# <a class="navbar-brand" href="#">Navbar</a> #}
{# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" #}
{# aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"> #}
{# <span class="navbar-toggler-icon"></span> #}
{# </button> #}
{# <div class="collapse navbar-collapse" id="navbarNavDropdown"> #}
{# <ul class="navbar-nav"> #}
{# <li class="nav-item"> #}
{# <a class="nav-link active" aria-current="page" href="#">Home</a> #}
{# </li> #}
{# <li class="nav-item"> #}
{# <a class="nav-link" href="#">Features</a> #}
{# </li> #}
{# <li class="nav-item"> #}
{# <a class="nav-link" href="#">Pricing</a> #}
{# </li> #}
{# <li class="nav-item dropdown"> #}
{# <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" #}
{# data-bs-toggle="dropdown" aria-expanded="false"> #}
{# Dropdown link #}
{# </a> #}
{# <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"> #}
{# <li><a class="dropdown-item" href="#">Action</a></li> #}
{# <li><a class="dropdown-item" href="#">Another action</a></li> #}
{# <li><a class="dropdown-item" href="#">Something else here</a></li> #}
{# </ul> #}
{# </li> #}
{# </ul> #}

{# </div> #}
{# <ul class="navbar-nav"> #}
{# {% if not app.user %} #}
{# <li class="nav-item"> #}
{# <a href="{{ path('app_register') }}"> #}
{# <button class="btn btn-dark">Sign&nbsp;up</button> #}
{# </a> #}
{# </li> #}
{# <li class="nav-item"> #}
{# <a href="{{ path('app_login') }}"> #}
{# <button class="btn btn-info">Sign&nbsp;in</button> #}
{# </a> #}
{# </li> #}
{# {% endif %} #}
{# {% if app.user %} #}
{# <li class="nav-item dropdown mr-5"> #}
{# <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUserMenuLink" role="button" #}
{# data-bs-toggle="dropdown" aria-expanded="false"> #}
{# {{ app.user.username }} #}
{# </a> #}
{# <ul class="dropdown-menu mr-5" aria-labelledby="navbarDropdownUserMenuLink"> #}
{# <li><a class="dropdown-item" href="#">Another action with a long label</a></li> #}
{# <li><a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a></li> #}
{# </ul> #}
{# </li> #}
{# {% endif %} #}
{# </ul> #}
{# </div> #}
{# </nav> #}

<section class="section">
    <div class="container">
        <h1 class="title">
            Hello World
        </h1>
        <p class="subtitle">
            My first website with <strong>Bulma</strong>!
        </p>

        {% block body %}{% endblock %}
    </div>
</section>


{% block javascripts %}

    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
